<div class="alert alert-danger">
  Fully enabling features from the UI is disabled. To enable, you'll need to set <code>Flipper::UI.configuration.fully_enable_disabled = false</code> wherever flipper is running from.
</div>
